/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
header {
    background-color: aliceblue;
    color: #090909;
    text-align: center;
    padding: 10px;
}
.contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.servicio {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 2px 5px green;
}
.servicio:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgb(25, 165, 241);
}
.servicio img {
    width: 100%;
    height: auto;
    display: block;
}
.servicio-contenido {
    padding: 20px;
}
.servicio h2 {
    margin-top: 0;
}
.servicio p {
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: black;
}


.footer-menu {
    background-color: aliceblue;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-menu a {
    color: #060606;
    text-decoration: none;
    margin: 0 15px;
}